{% extends "base.html" %}

{% block title %}
Setup Your Courses
{% endblock %}

{% block mainDiv %}
  <form method="post">
    <div class="form-group">
      <h3>Set up your course</h3>
      <label for="allCourses">Enter your Courses: </label>
      <input type="text" class="form-control" id="courses" name="courses" placeholder="please enter all your course separated by a Comma.">
      <button type="sumbit" class="btn btn-primary" id="hw_submit_btn">Submit</button>
      <button class="btn btn-secondary" id="hw_submit_btn">Clear</button>
    </div>
  </form>


{%endblock%}