{% extends "base.html" %}

{% block title %}
Homework
{% endblock %}

{%block mainDiv %}

  <h1>Homework Section</h1>
  <p>Please add all your Homework in this Section, separated with a comma</p>

  <form method="post">
    <div class="form-group">
      <label for="addHW">Homework:</label>
      <input class="form-control" type="text" id="addHW" name="addHW" placeholder="ex: Chem12 Worksheet, Physics 12 Unit 8 Worksheet, English Hamlet 500 Word Essay">
      <button type="sumbit" class="btn btn-primary" id="hw_submit_btn">Submit</button>
      <button class="btn btn-secondary" id="hw_submit_btn">Clear</button>
    </div>

    
    <!-- Output the LIst of homework being added, save to list and a file(for the access for the algorithm later) -->
  </form>
  <!-- <form method="post">
    <div class="form-group">
      <label for="addNHW">Add Homework to Current List:</label>
      <input class="form-control" type="text" id="addNHW" name="addNHW" placeholder="add newly found Homework here to add to current list">
      <button type="sumbit" class="btn btn-primary">Submit</button>
    </div> -->

    
    <!-- Output the LIst of homework being added, save to list and a file(for the access for the algorithm later) -->
  </form>



    <p>
      {% for each_HW in list_of_HW %}
        {{each_HW}} <br>
      {% endfor %}

    </p>
{%endblock%}