{% extends "base.html" %}

{% block title %}
Homework
{% endblock %}

{%block mainDiv %}

  <h1>Homework Section</h1>
  <p>Please add all your Homework in this Section, separated with a comma</p>

  <form method="post">
    <div class="form-group">
      <label for="addHW">Homework:</label>
      <input class="form-control" type="text" id="addHW" name="addHW" placeholder="ex: Chem12 Worksheet, Physics 12 Unit 8 Worksheet, English Hamlet 500 Word Essay">
      <button type="sumbit" class="btn btn-primary">Submit</button>
      <button class="btn btn-secondary">Clear</button>
    </div>

    <p>
      {% for each_HW in list_of_HW %}
        {{each_HW}} <br>
      {% endfor %}

    </p>
    
    <!-- Output the LIst of homework being added, save to list and a file(for the access for the algorithm later) -->
  </form>
{%endblock%}