{% extends "base.html" %}

{% block title %}
Time
{% endblock %}



{% block mainDiv %}

  <h1 id="timePage_h1">Time</h1>
  <h2>{{currenttime}}</h2>
  <h3 class="timePage_h3">Estimated Time to Complete All Work:
     <br><strong>{{time_to_complete_all_work}}</strong>
  </h3>
  <h3 class="timePage_h3">Free Time avaliable: 
    <br>
      <strong>{{free_time_avaliable}}</strong>
  </h3>
  <h3 class="timePage_h3">Countdown Until Sleep: 
    <br><strong>{{time_until_sleep}}</strong>

  </h3>



{%endblock%}